<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soar.basicframework.user.dao.UserDao">
    <select id="getList" resultType="com.soar.basicframework.user.model.User">
        select c_user_name as userName from rd_user
    </select>
</mapper>